doctype // This site was created in Webflow. http://www.webflow.com
// Last Published: Sat Apr 04 2015 15:49:48 GMT+0000 (UTC)
html(data-wf-site='551fceefdd9b08957397db2b', data-wf-page='551fceefdd9b08957397db2c')
head
    meta(charset='utf-8')
    |   
    title Cuebo
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |   
    meta(name='generator', content='Webflow')
    |   
    link(rel='stylesheet', type='text/css', href='stylesheets/normalize.css')
    |   
    link(rel='stylesheet', type='text/css', href='stylesheets/webflow.css')
    |   
    link(rel='stylesheet', type='text/css', href='stylesheets/cuebo.webflow.css')
    |   
    script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')
    |   
    script.
      WebFont.load({
      google: {
      families: ["Bitter:400,700,400italic"]
      }
      });
    |   
    script(type='text/javascript', src='/javascripts/modernizr.js')
    |   
    link(rel='shortcut icon', type='image/x-icon', href='https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico')
    |   
    link(rel='apple-touch-icon', href='https://daks2k3a4ib2z.cloudfront.net/img/webclip.png')
  body
    .w-nav.front-menu-top(data-collapse='medium', data-animation='default', data-duration='400', data-contain='1')
      .w-container
        a.w-nav-brand.w-clearfix.home-section-logo(href='#front-section')
          h1.logo-header Cuebo
        |       
        nav.w-nav-menu(role='navigation')
          a.w-nav-link(href='#chat-section') Cuebo Chat
          a.w-nav-link(href='#learning-section') Cuebo Learning
          a.w-nav-link(href='#about-section') About Cuebo
        |       
        .w-nav-button
          .w-icon-nav-menu
    |   
    .w-section.front-chat-section
      #chat-section.w-container
        .w-row
          .w-col.w-col-6
            img.chat-image(src='/images/chat.png', width='287', alt='chat.png')
          |         
          .w-col.w-col-6.w-clearfix
            .w-row
              .w-col.w-col-6.w-clearfix
                h1 Cuebo Chat
              |             
              .w-col.w-col-6
            |           
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
        |       
        .w-row
          .w-col.w-col-6.w-clearfix 
            a.button(href='/index2') Go To Chatroom
          |         
          .w-col.w-col-6
    |   
    .w-section.front-learning-section
      #learning-section.w-container
        .w-row
          .w-col.w-col-6
          |         
          .w-col.w-col-6.w-clearfix
            h1 Cuebo Learning
        |       
        .w-row
          .w-col.w-col-6
          |         
          .w-col.w-col-6.w-clearfix
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
    |   
    .w-section.front-about-section
      #about-section.w-container
        .w-row
          .w-col.w-col-6.w-clearfix
            h1 About Cuebo
          |         
          .w-col.w-col-6
        |       
        .w-row
          .w-col.w-col-6.w-clearfix
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
          |         
          .w-col.w-col-6
    |   
    .w-section.front-bottom-section
    |   
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    |   
    script(type='text/javascript', src='/javascripts/webflow.js')